<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="{{ base }}">
    <link rel="canonical" href="{{ canonical }}">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <meta name="theme-color" content="{{ theme.foreground }}">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ base }}assets/styles/main.min.css?{{ cacheId }}"/>
</head>
<body id="{{ pageId }}">
    <div class="svg-icon-lib">
        {% include ".tmp/sprite.svg" ignore missing %}
    </div>

    {% block content %}
    <main></main>
    {% endblock %}

    <!-- scripts -->
    <script>
        var base = '{{ base }}';
    </script>
    <script src="assets/scripts/main.min.js?{{ cacheId }}"></script>
</body>
</html>
